body {
    margin: 0px;
    padding: 0px;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container {
    max-width: 1000px;
    /* Top margin: 30 pixels
    Right margin: Auto (calculated by the browser)
    Bottom margin: 30 pixels
    Left margin: Auto (calculated by the browser) */
    margin: 30px auto;
}
