.places h1 {
    padding-left: 10px;
    font-size: 30px;
}
article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    
}
.stays {
display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article h2 {
    margin: 0;
    font-size: 30px;
    text-align: center;
}